body
{
    font-family: tahoma;
    color: black;
    background-color: yellowgreen;
}

table 
{
    background-color: white;
    border: 3px solid black;
    border-collapse: collapse;

    width: 25%;
}

td 
{
    border: 1px solid black;
    font-size: 1.5em;
    text-align: center;

    width: 16%;
}

.rubni_redak 
{
    border-bottom: 3px solid black;
}

.rubni_stupac
{
    border-right: 3px solid black;
}

.init 
{
    color: black;
    font-weight: bold;
}

.good 
{
    color: blue;
}

.bad 
{
    color: red;
}

#cestitka
{
    font-weight: bold;
    /* border: 5px goldenrod; */
    border: 5px solid orange;
    background-color: gold;
    padding: 10px;
    width: 50%;
}

td div
{
    font-size: 1em;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

td span
{
    font-size: 0.4em;
}